body{
    background-color: #f0f2f5;
    padding: 2%;
}
.input-contain{
        width: 400px;
        background-color: white;
        

        background-color: white;
        border-radius: 10px;
        width:400px;
        margin-top: 70px;
        
        padding: 20px;
        margin-bottom: 25px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h1{
    font-family: "facebook letter faces";
    font-size: 50px;
    color: #1877f2;
}
h3{
    font-size: 20px;
    color:#1c1e21;
    font-family: "Roboto Condensed", sans-serif;
}
input{
    width: 92%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    outline: none;
    font-size: 16px;
}
button{
    background-color: #1877f2;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 700;
    transition: 0.5s;
    border: 1px solid #1877f2;
}
button:hover{
    background-color: #1d6acf;
}